---
import TokenViewer from "../components/TokenViewer.jsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Token Viewer</title>
  </head>
  <body>
    <TokenViewer client:load />
  </body>
</html>
